In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train_data = pd.read_csv("/content/drive/MyDrive/spaceship-titanic/train.csv")
test_data = pd.read_csv("/content/drive/MyDrive/spaceship-titanic/test.csv")
test_ids = test_data["PassengerId"]

In [2]:
train_data.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
def cl(d):
  d = d.drop(["PassengerId", "HomePlanet", "Destination", "VIP", "Name", "CryoSleep"], axis=1)
  cols = ["RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck", "Age"]
  for i in cols:
    d[i].fillna(d[i].mean(), inplace=True)
  return d

In [4]:
test = cl(test_data)
train = cl(train_data)

In [5]:
x = test.iloc[:,1:]
y = train.iloc[:,0]
y = np.reshape(-1,1),
print(x.shape)

(4277, 6)

In [6]:
concat = pd.concat([x, test], axis=0)
dummy = pd.get_dummies(concat)    
dummy_train = dummy.iloc[:4277]
dummy_test = dummy.iloc[4277:]
dummy_test = np.array(dummy_test).reshape(-1,1)

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
from sklearn.ensemble import RandomForestClassifier
r = RandomForestClassifier()

s_x = s.fit_transform(dummy_train)
s_y = s.fit_transform(dummy_test)

In [8]:
train = cl(train_data)
y = train.iloc[:,0]
print(s_x)
print(y)

[[-1.18221624e-01 -3.64779540e-01 -2.91351586e-01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [-6.88601357e-01 -3.64779540e-01 -2.85385128e-01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 1.66968243e-01 -3.64779540e-01 -2.91351586e-01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 ...
 [-2.53299485e-16 -3.64779540e-01 -2.91351586e-01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [-2.53299485e-16 -3.64779540e-01  1.48532680e+00 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]
 [ 1.02253784e+00 -3.64779540e-01 -2.91351586e-01 ...  0.00000000e+00
   0.00000000e+00  0.00000000e+00]]
0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 8693, dtype: object

In [10]:
d=[]
for i in range(1,16):
  t = RandomForestClassifier(criterion="entropy", max_depth = 1, random_state=10)
  scores = cross_val_score(t,s_x,s_y,cv=5)
  d.append(scores.mean())
d = np.array(d)
sum_d = np.armax(d) + 2

ValueError: ignored

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(x,y)

In [ ]:
print(dummy)

In [ ]:
from pandas.core.common import random_state
final = r(criterion = "entry", max_depth = sum -d, random_state = 10)
final.fit(s_x,y)

In [ ]:
s_test = scaler.scaler_transform = (dummy_test)
sub = final.predict(s_test)
sub_data = pd.DataFrame({"PassengerId":})